$component-background-color: #fff;
$component-font-family: 'Open Sans';

//global color theme
$blue: #01a1dd;
$pale-blue: #f0fafe;
$dark-blue: #337ab7;
$dark-blue-shaded: #0088bb;
$green: #458832;
$pale-green: #d9f6c8;
// $orange: #FFA347;
$orange: #eeb211;
$black: #333;
$white: #fff;
$off-white: #f4f4f4;
$grey: #898989;
$dark-grey: #555;
$light-grey: #ddd;
$code-red: #c7254e;
