.rjv-demo {
  .rjv-settings,
  .rjv-source {
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    min-width: 300px;
    max-width: 400px;

    .rjv-input {
      margin-bottom: 5px;

      .rjv-label {
        padding: 0.5em;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
